# Dependencias
node_modules/

# Archivos de entorno
.env

# Logs
logs/
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Imágenes subidas por usuarios
uploads/images/*

# Mantener carpeta vacía en Git
!uploads/images/.gitkeep